<?xml version='1.0'?>
<model>
    <name>ardent_proto</name>
    <version>0.1.0</version>
    <author>
        <name>Nathan Boyd</name>
        <email>nathan.boyd.481@my.csun.edu</email>
    </author>
    <sdf>urdf/ardent_proto.urdf</sdf>
    <description>
        This model serves as a protoype hexapod model
        to represent the finished hexapod chassis until
        it is completed by the frame team
    </description>
</model>